$main-back: #f1f1f1;
$shadow-color: #EEEEEE;
$font-color: #424242;
$btn-color: #2196F3;
$font-fail:#e53935 ;
$bottom-border: #BDBDBD;
$bottom-suc: #66BB6A;
$bottom-fail: #ef5350;

$font-suc: #43A047;
$subtitle-color: #757575;
$key-color: #5C6BC0;