@import url('https://fonts.googleapis.com/css?family=Pacifico|Oswald');
@import "mixins";
@import "colors";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $main-back;
  color: $font-color;
}

div.main-panel {
  width: 80%;
  height: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include shadow;

  div.panel-body {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    text-align: center;

    h1 {
      font-family: 'Pacifico', 'Brush Script MT', cursive;
    } // h1
  } // .panel-body
} // main-panel

ul.button-group {
  list-style: none;

  li {
    background-color: $btn-color;
    min-width: 100px;
    max-width: 200px;
    display: block;
    margin: 1em auto;
    @include shadow;
    @include radius(2px);

    a.button {
      /* fill the container w/ link */
      display: block;
      width: 100%;
      height: 100%;
      /* end fill the container */
      line-height: 2.5em;
      color: whitesmoke;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

}

section#phrase-panel {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

span.game-element {
  margin-top: 0;
  -webkit-transition: margin-top 500ms linear;
  -moz-transition: margin-top 500ms linear;
  -ms-transition: margin-top 500ms linear;
  -o-transition: margin-top 500ms linear;
  transition: margin-top 500ms linear;
}

span#success {
  color:$font-suc;
}

span#fail {
  color:$font-fail;
}

span.shake {
  margin-top: 50px;
}


@media screen and (max-width: 720px) {
  div.main-panel {
    width: 100%;
    height: 100%;
  }
}
