@import url('https://fonts.googleapis.com/css?family=Pacifico|Oswald');
@import "mixins";
@import "colors";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $main-back;
  color: $font-color;
}

div.main-panel {
  width: 80%;
  height: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include shadow;

  div.panel-body {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    text-align: center;

    h1 {
      font-family: 'Pacifico', 'Brush Script MT', cursive;
    } // h1

    noscript {
      background-color: $font-fail;
      display: block;
      color: #FAFAFA;
      @include radius(5px);
      width: 100%;

      a, a:hover {
        text-decoration: underline;
        color: #FAFAFA;
        font-weight: bold;

      }
    }
  } // .panel-body
} // main-panel

ul.button-group {
  list-style: none;

  li {
    background-color: $btn-color;
    min-width: 100px;
    max-width: 200px;
    display: block;
    margin: 1em auto;
    @include shadow;
    @include radius(2px);

    .button {
      /* fill the container w/ link */
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.button {
  /* remove <button> defaults */
  background-color: $btn-color;
  border-style: none;
  line-height: 2.5em;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  color: whitesmoke;
  text-decoration: none;
  background-color: darken($btn-color, 10%);
}

section#phrase-panel {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

span.game-element {
  margin-top: 0;
  -webkit-transition: margin-top 500ms linear;
  -moz-transition: margin-top 500ms linear;
  -ms-transition: margin-top 500ms linear;
  -o-transition: margin-top 500ms linear;
  transition: margin-top 500ms linear;
}

span#success {
  color:$font-suc;
}

span#fail {
  color:$font-fail;
}

span.shake {
  margin-top: 50px;
}

div.asides {
  margin-top: 10px;
}

aside#phrase-info {
  display: inline;
  font-style: italic;
  color: $subtitle-color;
  text-align: right;
  float: right;
  margin: {
    left: 10%;
    right: 10%;
  };
}

img {
  float: right;
  max-width: 40px;
  border: 5px solid $font-color;
  margin: {
    left: 10%;
    right: 10%;
  }
}

aside#wpm {
  display: inline;
  float: left;
  font-weight: bold;
  margin: {
    left: 10%;
    right: 10%;
  }
}

div.account-box {
  div.boxes {
    label {
      width: 20%;
    } // label

    input {
      text-align: center;
      outline: none;
      border: none;
      border-bottom : {
        width: 2px;
        style: solid;
        color: $bottom-border;
        left-radius: 1px;
        right-radius: 1px;
      } // border-bottom

      /* represents the bottom border of the text field */

      &:focus {
        border-bottom-color: $font-color;
        transition: all 0.5s linear;
      } // focus

      &.bad {
        border-bottom-color: $bottom-fail;
      } // .bad

      &.good {
        border-bottom-color: $bottom-suc;
      } // .good
    } // input
  } // .boxes
} // .account-box

input.button.btn-submit {
  @include shadow;
}

input.button.btn-submit[disabled] {
  background-color: #9E9E9E;
}

span.err {
  float: left;
  font-size: smaller;
  color: $font-fail;
}

div.fade-hide, div.fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}
.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

section.keyboard {
  margin-top: 3em;
  div.key-row {
    margin: {
      top: 1em;
      bottom: 1em;
    }

    span.key {
      line-height: 1.8em;
      font-size: 16px;
      min-width: 20px;
      // give it height and width
      display: inline-block;
      background-color: $key-color;
      color: $main-back;
      @include radius(5px);

      padding: {
        top: .5em;
        left: .5em;
        right: .5em;
        bottom: .5em;
      }

      margin: {
        left: 5px;
        right: 5px;
      }

      sup {
        font-size: 0.6em;
        position: relative;
        top: -0.8em;
      }

      &.curr {
        background: url('/assets/images/mole.svg') no-repeat;
      }

      &.space {
        min-width: 25%;
      } // .space
    } // .key
  } // .key-row
} // .keyboard

@media screen and (max-width: 960px) {
  div.main-panel {
    width: 100%;
  }
}
