<section id="phrase-panel">

    <!--HACK: need to remove unwanted space-->
    <span class="game-element" id="success" ng-bind="complete"></span><!--
    --><span class="game-element" id="fail" ng-bind="failBuffer.fail"></span><!--
    --><span class="game-element" id="phrase" ng-bind="phrase.statement"></span>

    <audio src="/assets/audio/buzzer.wav" id="buzzer"></audio>

    <div class="asides">
        <aside id="phrase-info">
            {{phrase.author}} - {{phrase.origin}}
        </aside>
        <aside id="wpm">
            WPM - {{wpm | number:3}}
        </aside>
    </div>

    <img ng-show="phrase.imagePath" ng-src="{{phrase.imagePath}}" />
</section>
<section class="keyboard">
    <div class="key-row" ng-repeat="row in config.keyboard">
        <span class="key"
              ng-repeat="key in row"
              ng-class="{'curr': phrase.peek(key)}"
        >
            {{ key | case }}
            <sup>{{ key | case: true }}</sup>
        </span>
    </div>
    <div class="key-row">
        <span class="key space"
              ng-class="{'curr': phrase.peek('Space')}">
            Space
        </span>
    </div>
</section>
