<h1>Whack!</h1>
<p class="subtitle">
    A whac-a-mole like game to improve your typing
</p>
<ul class="button-group play" ng-if="account.logged">
    <!-- elements to be displayed when the user is logged in -->
        <li>
            <a href="#/play/" class="button">
                play
            </a>
        </li>
        <li>
            <a href="#/leaderboard/" class="button">
                leaderboard
            </a>
        </li>
</ul>
<ul class="button-group account" ng-if="!account.logged">
    <li>
        <button class="button"
                data-toggle="modal"
                data-target="#login-modal">
            Login
        </button>
    </li>
    <li>
        <button class="button" data-toggle="modal" data-target="#create-modal">
            Create an Account
        </button>
    </li>
</ul>
<div class="modal fade"
     id="login-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Create An Account
            </div>
            <form ng-submit="account.login(userField, passField)">
                <div class="modal-body account-box">
                    <div class="boxes">
                        <label for="user">Username</label>
                        <input id="user"
                               name="user"
                               type="text"
                               ng-class="{'good': account.validName(userField) && userField !== '', 'bad': !account.validName(userField) && userField !== ''}"
                               ng-model="userField"
                        />
                    </div>
                    <div class="boxes">
                        <label for="password">Password</label>
                        <input id="password"
                               name="password"
                               type="password"
                               ng-class="{'good': account.validPass(passField) && passField !== '', 'bad': !account.validPass(passField) && passField !== ''}"
                               ng-model="passField"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="err">
                        {{ account.errMessage(userField, passField); }}
                    </span>
                    <input type="submit"
                           class="button btn-submit"
                           ng-disabled="!account.validName(userField) || !account.validPass(passField) || userField === '' || passField === ''"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade"
     id="create-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                Create an Account
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="account.create(newUser, newPass, confPass, nick)">
                <div class="modal-body account-box"
                     ng-hide="account.loading">
                    <div class="boxes">
                        <label for="nick">Nickname</label>
                        <input id="nick"
                               name="nick"
                               type="text"
                               ng-class="{'good': account.validPass(passField) && passField !== '', 'bad': !account.validPass(passField) && passField !== ''}"
                               ng-model="nick"
                        />
                    </div>
                    <div class="boxes">
                        <label for="new-usr">Username</label>
                        <input id="new-usr"
                               name="new-usr"
                               type="text"
                               ng-class="{'good': account.validName(newUser) && newUser !== '', 'bad': !account.validName(newUser) && newUser !== ''}"
                               ng-model="newUser"
                        />
                    </div>
                    <div class="boxes">
                        <label for="new-pass">Password</label>
                        <input id="new-pass"
                               name="new-pass"
                               type="password"
                               ng-class="{'good': account.validPass(newPass) && newPass !== '', 'bad': !account.validPass(newPass) && newPass !== ''}"
                               ng-model="newPass"
                        />
                    </div>
                    <div class="boxes">
                        <label for="conf-pass">Confirm Password</label>
                        <input id="conf-pass"
                               name="conf"
                               type="password"
                               ng-class="{'good': confPass === newPass && confPass !== '', 'bad': newPass !== confPass}"
                               ng-model="confPass"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="err">
                        {{ account.errMessage(newUser, newPass, confPass); }}
                    </span>
                    <input type="submit"
                           class="button btn-submit"
                           ng-disabled="!account.validName(newUser) || !account.validPass(newPass) || newPass !== confPass || nick === '' || newUser === '' || newPass === ''"/>
                </div>
                <div class="modal-body account-box" ng-show="account.loading">
                    <div class="cp-spinner cp-round"></div>
                </div>
            </form>
        </div>
    </div>
</div>
